nav { background-color: white;
      width: 100%;
      height: 80px;
      border-bottom: black;
      box-shadow: 8px;
      position: center; 
} 

div.a {height: 80px;
       width: 80px;
       background-color: black;
       position: absolute;
       right: 100px;
       top: 8px; 
}
div.square1{height: 200px;
            width: 200px;
            background-color:white;
            margin:20px;
}
div.square2{height: 200px;
            width: 200px;
            background-color:white;
            margin:20px;
            position: fixed;
            left: 300px;
            top: 85px;
} /* 2 and 4 will be changed */
div.square3{height: 200px;
            width: 200px;
            background-color:white;
            margin:20px;
            position:fixed;
}
div.square4{height: 200px;
            width: 200px;
            background-color:white;
            margin:20px;
            position:fixed;
            left:300px;
}
footer{ width: 100%;
        height: 80px;
        background-color: white;
        border-top: 2px;
        border-color: black;
        text-align: center;
}  
#container { height: 800px;
             background-color: grey;
}

